<section class="container-fluid signup-form-full bg-purple">
	<div class="row"> <div class="col-xs-12"> 
		<div class="trial tc"> 
			<h4 class="fw400">Start using Piropay today</h4> 
			<p class="fw300"><span class="blue">Start your free trial</span> // No credit card needed</p> 
		</div> 
		
		<form class="piropay_signup_form tc fw300 " action="" data-origin="hp_home_page_footer" method="post" novalidate=""> 
<div class="signup-single-button black notopmargin" style="margin-top:20px;"> 
	<span><a href="javascript:void(0)" class="btn btn-piropay-cta" data-style="zoom-in">Create Free Account</a> </span>
	</div>	
	</form> 
	</div>
	</div> 
</section>

<script>
  var plans = [];
  var version = 3;
</script> 


<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>{{ site.address_street }}
                        <br>{{ site.address_city }}, {{ site.address_state }} {{ site.address_zip }}</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        {% if site.facebook_username %}
                        <li>
                            <a href="https://www.facebook.com/{{ site.facebook_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        {% endif %}
                        {% if site.twitter_username %}
                        <li>
                            <a href="https://twitter.com/{{ site.twitter_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        {% endif %}
                        {% if site.github_username %}
                        <li>
                            <a href="https://github.com/{{ site.github_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        {% endif %}
                        {% if site.instagram_username %}
                        <li>
                            <a href="https://www.instagram.com/{{ site.instagram_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        {% endif %}
                        {% if site.stackoverflow_url %}
                        <li>
							<a href="{{ site.stackoverflow_url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a>
                        </li>
                        {% endif %}
                        {% if site.googleplus_username %}
                        <li>
							<a href="https://plus.google.com/+{{ site.googleplus_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        {% endif %}
                        {% if site.skype_username %}
                        <li>
							<a href="skype:{{ site.skype_username }}?call" class="btn-social btn-outline"><i class="fa fa-fw fa-skype"></i></a>
                        </li>
                        {% endif %}
                        {% if site.linkedin_url %}
                        <li>
							<a href="{{ site.linkedin_url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About {{ site.title }}</h3>
                    <p><a href="https://piropay.com">Piropay</a> provides innovative payment services and tools for thousands of businesses worldwide.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
		    
<div class="col-lg-4 col-xs-12 col-md-height group-copy group-copy">
                   <div class="copy fw300"> &copy;{{ site.time | date: "%Y" }} Piropay.com&nbsp;-&nbsp;All Rights Reserved.&nbsp; </div>
                </div>
		    	
<div class="col-lg-5 col-xs-12 col-md-height col-md-middle group-copy tc" style="margin-top:20px;margin-left:20px;"> 
<span style="margin-top:15px;"><img src="https://res.cloudinary.com/piropay/image/upload/v1484552277/cc-ft-logo-wt_lyjjqn.png" width="75%"/></span>
	</div>
<div class="col-md-3 col-xs-12 col-md-height" style="margin-left:20px;"> 	
<div class="copy fw300" style="margin-top:20px;"> 
<a class="copy fw300" href="tou/index.html">Terms</a>&nbsp;|
<a class="copy fw300" href="tou/index.html#privacy_policy">Privacy</a>&nbsp;| 
<a class="copy fw300" href="legal/index.html">Legal</a>&nbsp;| 	
<a class="copy fw300" href="security/index.html">Security</a>&nbsp;
<a class="hidden copy fw300" href="status/index.html">Status</a>&nbsp;     
	</div> 
 </div> 


            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
