<!-- Header -->
<section class="locked-original-text locked-menu unlocked"> 
	<div class="locked-cta"> 
		<h1><strong>YOU DON'T NEED ANOTHER</strong> PAYMENTS PROVIDER</h1>
		<p>Meet {{ site.title }}, the simple app that accepts all types of payments</p>
		
		<div class="signup-form-half"> 
			<form class="piropay_signup_form tc fw300 " action="" data-origin="hp_home_page_desktop_banner" method="post" novalidate="">
<div class="hero__buttons btn-group">
<button class="fw400 ladda-button btn--lg " data-style="zoom-in" type="submit"><span class="ladda-label">CREATE ACCOUNT</span></button> 
				
<button class="fw400 ladda-button btn--lg " data-style="zoom-in" type="submit"><span class="ladda-label">REQUEST A QOUTE</span></button> 
				</div>
			</form>
			
			<div class="trial tc">
				<div class="line"></div>
				<p style="font-size:14px!important;margin-top:12px;">Start your free trial</p> 
				<div class="line"></div> 
			</div>
		</div> 
		<img class="board_example" alt="Payments made simple" src="https://res.cloudinary.com/piropay/image/upload/v1484769290/swipe-transaction-list_fc48iu.png" style="max-height: 340px; opacity: 1;"> 
	</div> 
</section>
<hr>
