<!-- Header -->


    <section class="hidden video">
        <div id="bgVideo" class="background"></div>
        <div class="holder">
            <div class="cont">
                <span class="sdf"><strong>YOU DON'T NEED ANOTHER</strong>PAYMENTS PROVIDER</span>
                <a href="https://vimeo.com/199588578" target="_blank" class="play" data-wpel-link="external" rel="nofollow"><span class="fui-play"></span></a>   
                <span class="suys"><strong>Payments Management</strong> Made Simple</span>
                <a class="arrow" href="#overview" data-wpel-link="internal"><span aria-hidden="true" class="icn_arrow"></span></a>
            </div>
        </div>
    </section>
		<div class="video-modal" aria-hidden="true"> </div> 
		<noscript id="video-modal-iframe"> <a href="javascript:void(0)" class="close pointer tc" rel="nofollow">
			<i class="i-close"></i></a> 
		<iframe src="https://player.vimeo.com/video/199588578?autoplay=1" width="100%" height="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</noscript> 

<header>
    
    <div class="container">
        <div class="row">
            <div class="presenation">
            <div class="col-lg-12">
                <img class="img-responsive" src="https://res.cloudinary.com/piropay/image/upload/v1484769290/swipe-transaction-list_fc48iu.png" alt="">
                <div class="locked-cta"> 
		<div class="container-fluid"> 
		<div class="row"> 
		<div class="col-xs-12 col-sm-12 col-md-6 left">
		<div class="text"> 
		<div class="text-inner"> 
		<h1><strong>You don't need</strong></h1> 
		<h1>another payments&nbsp;processor</h1> 
		<p>Meet Piropay, the simple app that accepts all types of payments</p> 
		<div class="signup-form-half "> 
		<form class="piropay_signup_form tc fw300 " action="https://auth.piropay.com/verify_email?origin=hp_home_page_desktop_banner" data-origin="hp_home_page_desktop_banner" method="post" novalidate> 
		<input class="email" type="email" placeholder="Enter your work email" name="email" value="">
		<button class="fw400 ladda-button" data-style="zoom-in" type="submit">
		<span class="ladda-label">Create Account</span></button> 
		</form> 
		
		<div class="trial tc"> 
		<div class="line"></div> 
		<p>Start your free trial</p> 
		<div class="line"></div> 
		</div>
		</div> 
		
		<div class="mobile-image desktop-hidden tc"> 
		<img class="board_example" alt="Coolimage2-m" src="assets/img/home/coolimage2-m.png"/> 
		</div> 
		</div> 
		</div> 
		</div> 
		<div class="col-xs-12 col-sm-12 col-md-6 mobile-hidden right"> 
		<img class="board_example" alt="Coolimage2" src="assets/img/home/coolimage2.png"/> 
		</div> </div> 
		</div>
		</div> 
		<div class="see-more-wrapper">
		<a href="javascript:void(0);" class="see-more">Tell me more</a> 
		</div>

                
                <div class="intro-text">
                    <span class="name">{{ site.title }}</span>
                    <hr class="star-light">
                    <span class="skills">{{ site.description }}</span>
                </div>
            </div>
        </div>
    </div>
        </div>
</header>

