<!-- Header -->

		<div class="video-modal" aria-hidden="true"> </div> 
		<noscript id="video-modal-iframe"> <a href="javascript:void(0)" class="close pointer tc" rel="nofollow">
			<i class="i-close"></i></a> 
		<iframe src="https://player.vimeo.com/video/199588578?autoplay=1" width="100%" height="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</noscript> 


<section class="locked-original-text locked-menu unlocked"> 
	<div class="locked-cta"> 
		<h1><strong>YOU DON'T NEED ANOTHER</strong> PAYMENTS PROVIDER</h1>
		<p>Meet {{ site.title }}, the simple app that accepts all types of payments</p>
		<div class="signup-form-half "> 
			<form class="piropay_signup_form tc fw300 " action="" data-origin="hp_home_page_desktop_banner" method="post" novalidate="">
				<input class="email" type="email" placeholder="Enter your work email" name="email" value="">
<button class="fw400 ladda-button" data-style="zoom-in" type="submit"><span class="ladda-label">Create Account</span></button> 
			</form>
			
			<div class="trial tc">
				<div class="line"></div>
				<p>Start your free trial</p> 
				<div class="line"></div> 
			</div>
		</div> 
		<img class="board_example" alt="Payments made simple" src="https://res.cloudinary.com/piropay/image/upload/v1484769290/swipe-transaction-list_fc48iu.png" style="max-height: 340px; opacity: 1;"> 
	</div> <div class="see-more-wrapper"> 
	<a href="javascript:void(0);" class="see-more">Tell me more</a> 
	<img src="/https://res.cloudinary.com/piropay/image/upload/v1484220013/arrow_ahr1je.svg" class="see-more-arrow" width="50"> 
	</div>
</section>

