<section class="container-fluid home-vision bg-purple" id="how"> 
  
<div class="row">
                <div class="col-lg-12 tc who fw400">
                    <h2 class="tc fwhite">How It Works</h2>
                           
                <p class="lead tc fwhite">When it comes to choosing an online and mobile payments platform, we’re almost certain we’re the one for you, 
                  but do you know everything we have to offer? This stuff can get confusing -- what do you need? What can you add?
                  What should you know before you dive in?</p> 
                    <hr class="star-primary fwhite">
                  <p>&nbsp;</p>
			<p>&nbsp;</p>
                </div>
            </div>


  <div class="row"> 
 
	  <div class="row-md-height"> 
		  
    <div class="col-xs-12 col-md-7 col-md-height col-md-middle wow fadeInLeft left" style="visibility: visible; animation-name: fadeInLeft;"> 
      <div class="text fwhite"> 
        <h2 class="mobile-hidden fwhite">1. What's your business&nbsp;type?</h2> 
        <h2 class="desktop-hidden fwhite"> <span class="fw300 fwhite">You don't need</span> another payments&nbsp;provider</h2>
        <h4 class="fw400 fwhite">Businesses need the ability to accept all payment types.</h4> 
        <p class="fwhite fw300">The first thing you’ll need to define is what kind of operation you’re running. Different types require different methods.</p> 
	    </div>
	     </div>
		  
	    <div class="col-xs-12 col-md-5 col-md-height col-md-middle wow fadeInRight tc" style="visibility: visible; animation-name: fadeInRight;">  
    <img alt="WHta's your business" src="https://res.cloudinary.com/piropay/image/upload/v1485231637/devIcon013_vazxem.png" class="img-how img-responsive">
	    </div> 
	  	    </div> 
	
	  
	  <div class="row-md-height"> 
	<div class="col-md-5 col-md-height mobile-hidden wow fadeInRight tc" style="visibility: visible; animation-name: fadeInleft;"> 
  <img alt="Pick a Type" src="https://res.cloudinary.com/piropay/image/upload/v1485231637/devIcon014_emze3b.png" class="img-responsive img-how"> 
    </div> 
	
 <div class="col-xs-12 col-md-7 col-md-height col-md-middle wow fadeInRight right" style="visibility: visible; animation-name: fadeInRight;"> 
      <div class="text fwhite"> 
    <h2>2. Payment methods</h2> 
        <h4 class="fwhite fw400">You’ll need to have the best balance for your customers.</h4> 
        <p class="fwhite fw300">It’s a good idea to think ahead about the ways you’ll want to allow your users to pay online or via your mobile app.</p>
      </div> 
    </div> 
       </div> 
		  
  </div> 
</section>


<section class="container-fluid home-vision-inverted bg-purple"> 
  <div class="row">
	  
  <div class="row-md-height"> 
	  
    <div class="col-xs-12 col-md-7 col-md-height col-md-middle wow fadeInLeft left" style="visibility: visible; animation-name: fadeInLeft;"> 
      <div class="text fwhite"> 
        <h2 class="fwhite">3. Payment&nbsp;Methods</h2> 
        <h4 class="fwhitefw400">Your planning should be as alive as the payments themselves.</h4> 
        <p class="fwhite fw300">With piropay, you schedule your payments and connect them in the same place, creating realtime and frictionless acceptance.</p> 
         	    </div>
	    	    </div>
	  
	      <div class="col-xs-12 col-md-5 col-md-height col-md-middle wow fadeInRight tc" style="visibility: visible; animation-name: fadeInLeft;"> 
      <img alt="Payment Methods" src="https://res.cloudinary.com/piropay/image/upload/v1485231637/devIcon012_ehvpc3.png" class="img-how img-responsive"> 
	      </div> 
	  
	    </div>
	  
	    <div class="row-md-height"> 
		    <div class="col-xs-12 col-md-5 col-md-height col-md-middle wow fadeInLeft tc" style="visibility: visible; animation-name: fadeInLeft;"> 
      <img alt="Newlanding" src="https://res.cloudinary.com/piropay/image/upload/v1485231637/devIcon014_emze3b.png" class="img-how img-responsive"> 
		    </div> 
    <div class="col-xs-12 col-md-7 col-md-height col-md-middle wow fadeInRight right" style="visibility: visible; animation-name: fadeInRight;"> 
              	     <div class="text fwhite">
		     <h2 class="fwhite">4. Integration&nbsp;methods.</h2> 
        <h4 class="fwhite fw400">Our SDKs are available in 5 programming languages.</h4> 
        <p class="fwhite fw300">Piropay comes whichever language you (or your developers) are most comfortable with -- chances are we speak it too.</p> 
  	      </div>
		  </div>   
	  </div>

  </div> 
</section>
<section class="container-fluid signup-form-full bg-purple">
	<div class="row">
		<div class="col-xs-12"> 
		<div class="trial tc"> 
			<h4 class="fw400">Get Started Today</h4> 
			<p class="fw300"><span class="blue">Start your free trial</span> // No credit card needed</p> 
		</div> 
		
		<form class="piropay_signup_form tc fw300 " action="" data-origin="hp_home_page_footer" method="post" novalidate=""> 
<div class="signup-single-button black notopmargin" style="margin-top:20px;"> 
	<span><a href="javascript:void(0)" class="btn btn-piropay-cta" data-style="zoom-in">Create Account</a> </span>
	</div>	
	</form> 
	</div>
	</div> 
</section>
