<section class="container-fluid home-vision bg-grey" id="how"> 
                  <div class="container">
			  
<div class="row">
                <div class="col-lg-12 tc who fw400">
                    <h2 class="tc fwhite">How It Works</h2>
                           
                <p class="lead tc fwhite">When it comes to choosing an online and mobile payments platform, we’re almost certain we’re the one for you, 
                  but do you know everything we have to offer? This stuff can get confusing -- what do you need? What can you add?
                  What should you know before you dive in?</p> 
                    <hr class="star-primary fwhite">
                  <p>&nbsp;</p>
			<p>&nbsp;</p>
                </div>
 </div>

	 <div class="container-fluid">
  <div class="row"> 
 
	  <div class="row-md-height"> 
		  
    <div class="col-xs-12 col-md-6 col-md-height col-md-middle wow fadeInLeft"> 
      <div class="text fwhite"> 
        <h2 class="mobile-hidden fwhite">1. Sign Up&nbsp;Online</h2> 
        <h2 class="desktop-hidden fwhite"> <span class="fw300 fwhite">Sign</span> Up&nbsp;Online</h2>
        <h4 class="fw400 fwhite">You need the ability to accept all types of payments.</h4> 
        <p class="fwhite fw300">The first thing you’ll need to define is what kind of operation you’re running. Different business models require different payment methods.</p> 
	    </div>
	     </div>
		  
	    <div class="col-xs-12 col-md-6 col-md-height col-md-middle wow fadeInRight right">  
 
		    <div class="row grid grid--with-gutters">
		    <div class="grid-item col-xs-12 col-sm-6 col-md-4">
	 <span class="application-type-box info-icons"><i class="fa fa-pencil" aria-hidden="true"></i></span>
	  </div>
		    
		        <div class="grid-item col-xs-12 col-sm-6 col-md-4">
	<span class="application-type-box info-icons mobile-hidden"><i class="fa fa-address-book-o" aria-hidden="true"></i></span>
	  </div>
		        <div class="grid-item col-xs-12 col-sm-6 col-md-4">
	  <span class="application-type-box info-icons mobile-hidden"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
	  </div>
		  </div>
		  </div>
		    
		  </div> 
	  	    </div> 
	  
	  	    </div>
	
	  <div class="row">  
	  <div class="row-md-height"> 		  
	<div class="col-md-6 col-md-height wow fadeInRight tc"> 

		<div class="row grid grid--with-gutters">
	
	<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="grid-item">
        <a href="javascript:void(0)" class="payment-method-box" data-analytics-action="credit and debit">
 	<div class="info-icons"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
        </a>
      </div>	
	</div>

<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="grid-item">
          <a href="javascript:void(0)" class="payment-method-box mobile-hidden" data-analytics-action="bitcoin">
        	<div class="info-icons"><i class="fa fa-bitcoin" aria-hidden="true"></i></div>
          </a>
        </div>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="grid-item">
        <a href="javascript:void(0)" class="payment-method-box mobile-hidden" data-analytics-action="paypal">
		<div class="info-icons"><i class="fa fa-paypal" aria-hidden="true"></i></div>
        </a>
      </div>	
	</div>
		</div>
		
		  </div> 
	
 <div class="col-xs-12 col-md-6 col-md-height col-md-middle wow fadeInRight left"> 
      <div class="text fwhite"> 
    <h2>2. Choose Your Types</h2> 
        <h4 class="fwhite fw400">Have the best balance for your customers.</h4> 
        <p class="fwhite fw300">It’s a good idea to think ahead about the ways you’ll want to allow your users to pay online or via your mobile app.</p>
      </div> 
    </div> 
		  
       </div> 
	 </div> 
			  
  </div>
</section>


<section class="container-fluid home-vision-inverted bg-grey">
	<div class="container">
		
<div class="container-fluid">
	
  <div class="row">
	  
  <div class="row-md-height"> 
	  
    <div class="col-xs-12 col-sm-62 col-md-6 col-md-height col-md-middle wow fadeInLeft"> 
      <div class="text fwhite"> 
        <h2 class="fwhite">3. Pick A&nbsp;Method</h2> 
        <h4 class="fwhite fw400">Payments accepted on any device.</h4> 
        <p class="fwhite fw300">Piropay has simpilfy the ways of accepting more forms of payment. So wherever your business goes, your sales can go too.</p> 
         	    </div>
	    	    </div>
	  
	      <div class="col-xs-12 col-sm-6 col-md-6 col-md-height col-md-middle wow fadeInRight right"> 
		      <div class="row grid grid--with-gutters"> 
			      <div class="grid-item col-xs-12 col-sm-6 col-md-4">
			      <span class="payment-type-box info-icons mobile-hidden"><i class="fa fa-laptop" aria-hidden="true"></i></span>
				      </div>
				      <div class="grid-item col-xs-12 col-sm-6 col-md-4">
			      <span class="payment-type-box info-icons"><i class="fa fa-mobile" aria-hidden="true"></i> </span>
					      </div>
					      <div class="grid-item col-xs-12 col-sm-6 col-md-4">
			       <span class="payment-type-box info-icons mobile-hidden"><i class="fa fa-print" aria-hidden="true"></i> </span>
						      </div>
		      </div>
	  </div> 
	  
	    </div>
	  </div>
	
	  <div class="row">
		  
		   <div class="row-md-height"> 	
			   
	<div class="col-xs-12 col-sm-6 col-md-6 col-md-height wow fadeInRight left"> 

		<div class="row grid grid--with-gutters">
	
	<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="grid-item">
        <a href="javascript:void(0)" class="payment-method-box mobile-hidden" data-analytics-action="developemnt types">
 	<div class="info-icons"><i class="fa fa-gears" aria-hidden="true"></i></div>
        </a>
      </div>	
	</div>

<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="grid-item">
          <a href="javascript:void(0)" class="payment-method-box mobile-hidden" data-analytics-action="langauges">
		  <span class="info-icons"><i class="fa fa-code" aria-hidden="true"></i></span>
          </a>
        </div>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="grid-item">
        <a href="javascript:void(0)" class="payment-method-box" data-analytics-action="github">
	<span class="info-icons"><i class="fa fa-code-fork" aria-hidden="true"></i></span>
        </a>
      </div>	
	</div>
			
		</div>
	 </div>	   
				   
 <div class="col-xs-12 col-sm-6 col-md-6 col-md-height col-md-middle wow fadeInRight left"> 
<div class="text fwhite"> 
    <h2 class="fwhite">4. Start&nbsp;Integrating</h2> 
        <h4 class="fwhite fw400">Our SDKs are available in 5 programming languages.</h4> 
        <p class="fwhite fw300">Piropay comes in whichever language you (or your devs) are most comfortable with -- chances are we speak it too.</p>
      </div> 
    </div> 
		  
       </div>  
	
		   
		 </div> 
</div>

<div class="row">
    <div class="row-md-height"> 
	  
    <div class="col-xs-12 col-sm-6 col-md-6 col-md-height col-md-middle wow fadeInLeft"> 
      <div class="text fwhite"> 
        <h2 class="fwhite">5. Add Some&nbsp;Features</h2> 
        <h4 class="fwhite fw400">Your business needs more than just "standard" features</h4> 
        <p class="fwhite fw300">There are features that come standard and ones you can add as quickly as your business needs.</p> 
         	    </div>
	    	    </div>
	  
<div class="col-xs-12 col-md-6 col-md-height col-md-middle wow fadeInRight tc"> 
        <div class="row grid grid--with-gutters">
		
			      <div class="grid-item col-xs-12 col-sm-6 col-md-4">
			      <span class="payment-type-box info-icons mobile-hidden"><i class="fa fa-bank" aria-hidden="true"></i></span>
			      </div>
		
				<div class="grid-item col-xs-12 col-sm-6 col-md-4">
			      <span class="payment-type-box info-icons"><i class="fa fa-bar-chart" aria-hidden="true"></i> </span>
				</div>
		
				<div class="grid-item col-xs-12 col-sm-6 col-md-4">
			       <span class="payment-type-box info-icons mobile-hidden"><i class="fa fa-qrcode" aria-hidden="true"></i> </span>
				</div>
	</div>
</div> 
	  
	    </div>
	
	  </div>
		  
	</div>
</section>

<section class="container-fluid signup-form-full bg-grey">
	<div class="row">
		<div class="col-xs-12"> 
		<div class="trial tc"> 
			<h4 class="fw400 fwhite"></h4> 
		</div> 
		
		<form class="piropay_signup_form tc fw300 " action="" data-origin="hp_home_page_footer" method="post" novalidate=""> 
<div class="signup-single-button black notopmargin" style="margin-top:20px;"> 
	<span><a href="javascript:void(0)" class="btn btn-piropay-cta" data-style="zoom-in">Get Started Now</a> </span>
			</div>	
	</form> 
		<div class="trial tc"> 
			<h4 class="fw400 fwhite"></h4> 
			<p class="fw300 fwhite" style="margin-top:20px;"><sup><span class="blue">Start your free trial</span> // No credit card needed</sup></p> 
		</div> 	
			</div>
		<div class="clearfix"style="height:40px;"></div>
	</div>
	
</section>
