<section class="container-fluid home-vision bg-purple" id="how"> 
  
<div class="row">
                <div class="col-lg-12 tc who fw400">
                    <h2 class="tc">How It Works</h2>
                           
                <p class="lead tc">When it comes to choosing an online and mobile payments platform, we’re almost certain we’re the one for you, 
                  but do you know everything we have to offer? This stuff can get confusing -- what do you need? What can you add?
                  What should you know before you dive in?</p> 
                    <hr class="star-primary">
                </div>
            </div>


  <div class="row"> 
  <div class="row-md-height"> 
    <div class="col-xs-12 desktop-hidden full"> 
    <img alt="Highlevelboard" src="/assets/img/manage/highlevelboard.png"> </div> 
    <div class="col-xs-12 col-md-6 col-md-height col-md-middle wow fadeInLeft left" style="visibility: visible; animation-name: fadeInLeft;"> 
      <div class="text"> 
        <h2 class="mobile-hidden">What type of business are&nbsp;you?</h2> 
        <h2 class="desktop-hidden">
       <span class="fw300">You don't need</span> a project management&nbsp;tool</h2>
        <h4 class="fw400">Today's businesses need the ability to accept payments in real time.</h4> 
        <p class="gt">The first thing you’ll need to define is what kind of operation you’re running. Different types require different methods.</p> 
        
        <h2>Recognition motivates</h2> 
        <h4 class="fw400">Get your team addicted to turning things green.</h4> 
        <p class="gt">dapulse shows who's responsible for what. This gives people incredible recognition and accountability for their work.</p>
      </div> 
    </div> 
    <div class="col-md-6 col-md-height mobile-hidden wow fadeInRight right" style="visibility: visible; animation-name: fadeInRight;"> 
  <img alt="Highlevelboard" src="/assets/img/manage/highlevelboard.png"> 
    </div> 
    </div>
  </div> 
</section>


<section class="container-fluid home-vision-inverted bg-purple"> 
  <div class="row">
  <div class="row-md-height"> 
    <div class="col-xs-12 col-md-6 col-md-height col-md-middle wow fadeInLeft left" style="visibility: visible; animation-name: fadeInLeft;"> 
      <img alt="Newlanding" src="/assets/img/home/newlanding.png"> </div> 
    <div class="col-xs-12 col-md-6 col-md-height col-md-middle wow fadeInRight right" style="visibility: visible; animation-name: fadeInRight;"> 
      <div class="text"> 
        <h2>Plan and execute in the same&nbsp;place</h2> 
        <h4 class="fw400">Your planning should be as alive as the projects themselves.</h4> 
        <p class="gt">With piropay, you schedule your payments and connect them in the same place, creating realtime and frictionless acceptance.</p> 
        
        <h2>A tool your team will actually&nbsp;use</h2> 
        <h4 class="fw400">No training needed, it just works.</h4> 
        <p class="gt">Piropay comes with built-in addiction, saves your team huge amounts of time on meetings and gets rid of painfully long email threads.</p> 
  </div>
  </div> 
  </div> 
  </div> 
</section>
