<!-- Integration Grid Section -->
    <section class="iso-full" id="integrations">
        <div class="container">
	<div class="clearfix" style="height:40px;"></div>
            <div class="row">
                <div class="col-lg-12 tc">
                    <h2 class="tc">Partner Integrations</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12 tc">
                            <img src="https://res.cloudinary.com/piropay/image/upload/v1484454523/processors-logos_uvi8pm.png" class="img-responsive" alt="">
                      </div>
            <ul class="list-inline banner-signup-buttons hidden">
                    <li>
                      <div class="btn box-btn tc"> <button>Learn more</button> </div>
                    </li>
                   
                    <li>
                     <span class="signup-form-half-pg-1">
			<div class="piropay_signup_form_pg tc" style="margin-top:40px;"> 	
	                <button class="login-box fw400 ladda-button"><a class="signup" href="javascript:void(0)">&nbsp; Get Started &nbsp;</a> </button> 
                        </div>
			</span>
		</li>
                </ul>
            </div>
            
        </div>
    </section>
