 

{% for post in site.posts %}
 <div class="hidden">
  
  

<div class="signup-form-mobile fwhite bc tc"> <a href="javascript:void(0)" class="close pointer" rel="nofollow">
  <i class="i-close"></i></a> 
  <div class="content center"> 
    <h2>Get Started<span class="mobile-hidden"> With Piropay</span></h2> 
    <h4>Simple, secure&nbsp; payments</h4> 
	  <form class="piropay_signup_form tc fw300 " action="https://auth.piropay.com/verify_email?origin=hp_index_mobile_full_screen" data-origin="hp_index_mobile_full_screen" method="post" novalidate> <input class="email" type="email" placeholder="Enter your work email" name="email" value=""><button class="fw400 ladda-button" data-style="zoom-in" type="submit"><span class="ladda-label">Create Free Account</span></button> </form> <div class="trial tc"> <div class="line"></div> <p>Start your free trial</p> <div class="line"></div> </div> </div> </div> <div class="signup-form-mobile-footer desktop-hidden fwhite fw400 tc">Create Free Account&nbsp;&nbsp;<i class="i-right"></i></div> <div class="exit-modal mobile-hidden busy"> <div class="inside busy"> 
            <div class="dog-ear"> 
		    <a href="javascript:void(0)" class="x-button pointer tc" rel="nofollow">+</a> 
            </div> 
            <h3 class="tc"><strong>You're busy...</strong><br/>We feel you :)</h3> 
            <p>Send yourself an invitation now<br/> and try us when you've got 3 minutes</p> 
            <form class="dpiropay_signup_form tc fw300 " action="https://auth.piropay.com/verify_email?origin=hp_index_exit_intent_modal" data-origin="hp_index_exit_intent_modal" method="post" novalidate> 
              <input class="email" type="email" placeholder="Enter your work email" name="email" value="">
         <button class="fw400 ladda-button" data-style="zoom-in" type="submit"><span class="ladda-label">Invite Myself</span></button> 
            </form> 
              <p class="hidden text-muted">
      Design by
      <a href="https://roweium.com">Roweium Agency</a>
    </p>
            </div> 
</div> 
<button id="scroll_button" class="mobile-hidden pointer tc"> <i class='i-up'></i> </button> 
<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400' property='stylesheet' rel='stylesheet'> 
  
  
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
        <br><br>
        <h1>Modal with blur effect</h1>
        <h2>Put here whatever you want here</h2>
        <h4>For instance, a login form or an article content</h4>
        <h4><kbd>esc</kbd> or click anyway to close</h4>
        <hr>
        <div class="alert alert-danger"><h4>You can add any html and css ;)</h4></div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" style="display:none;" id="{{ post.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive img-centered" alt="">
                        {{ post.content }}
                        <ul class="list-inline item-details">
                            <li>Category:
                                <strong>{{ post.category }}
                                    </strong>
                            </li>
                            <li>Date:
                                <strong>{{ post.date | date: "%B %Y" }}
                                    </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
{% endfor %}
