<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top"><img width="80%" src="https://res.cloudinary.com/piropay/image/upload/c_scale,w_162/v1484271966/logo-pp-blk_ikfcvu.png">
</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#why">Why Us</a>
                </li>
                <li class="page-scroll">
                    <a href="#features">Features</a>
                </li>
                  <li class="page-scroll">
                    <a href="#how">How It Works</a>
                </li>
		    <li class="page-scroll">
                    <a href="#pricing">Pricing</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
		     <li class="page-scroll hidden">
                    <a href="#integrations">Integrations</a>
                </li>
                   
                  <li class="">
                    <a class="login" onclick="if(typeof ga != 'undefined') { ga('send', 'event', 'Logged In', 'Clicked Log In in navbar', 'From page: ' + window.location.pathname); }" href="https://secure.piropaygateway.com">Login</a>
                </li>
               <li class="signup">
               <a class="hidden signup" href="https://piropay.auth0.com/login?client=IfAmCpwSa7ahhyenoqUK5Q3Tq0QxJgfM"> Sign Up</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

	<div class="navbar-padding"></div> 
	
	<main role="main"> 
