<!-- Pricing Grid Section --> 
		
<section class="iso-features" id="pricing"> 
<div class="pricing">
	<div class="segment segment--plans"> 
		
		<div class="container"> 
    
<div class="heading tc"> 
		<h2>Our&nbsp;Pricing</h2>
			
		<p class="lead tc">There are no hidden surprises and only transparent transaction fees when you sell with PiroPay.</p> 
			<hr class="star-primary">
    </div> 
  </div> 			
			
			  <section class="pricing-section bg-6">
            <div class="pricing pricing--pema">
		    
                <div class="pricing__item">
                    <h3 class="pricing__title">Basic</h3>
                    <p class="pricing__sentence">For Start Ups</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>19<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list tl">
                        <li class="pricing__feature"><span class="icon icon--chart-bars"></span>10 presentations/month</li>
                        <li class="pricing__feature"><span class="icon icon--bubble"></span>Support at $25/hour</li>
                        <li class="pricing__feature"><span class="icon icon--rocket"></span>1 campaign/month</li>
                    </ul>
			<div class="pricing__action">
		<div class="signup-form-half hero__buttons btn-group">
<a href="https://piropay.auth0.com/login?client=IfAmCpwSa7ahhyenoqUK5Q3Tq0QxJgfM" class="fw400 ladda-button btn--lg" data-event="signup-clicked" data-ga-click="Signup click pricing-stbcolumn" data-mix-click="click {&quot;target&quot;: &quot;Pricing_STU_Button&quot;, &quot;page&quot;: &quot;pricing&quot;}">TRY IT FREE</a>
		  </div>
				 </div>
                </div>
		    
                <div class="pricing__item pricing__item--featured">
                    <h3 class="pricing__title">Standard</h3>
                    <p class="pricing__sentence">For medium sized teams</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>29<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list tl">
                        <li class="pricing__feature"><span class="icon icon--chart-bars"></span>50 presentations/month</li>
                        <li class="pricing__feature"><span class="icon icon--bubble"></span>5 hours of free support</li>
                        <li class="pricing__feature"><span class="icon icon--rocket"></span>10 campaigns/month</li>
                    </ul>
			<div class="pricing__action">
<div class="signup-form-half hero__buttons btn-group">
	<a href="https://piropay.auth0.com/login?client=IfAmCpwSa7ahhyenoqUK5Q3Tq0QxJgfM" class="fw400 ladda-button btn--lg" data-event="signup-clicked" data-ga-click="Signup click pricing-smbcolumn" data-mix-click="click {&quot;target&quot;: &quot;Pricing_SMB_Button&quot;, &quot;page&quot;: &quot;pricing&quot;}">TRY IT FREE</a>
	   </div></div>
</div>
                <div class="pricing__item">
                    <h3 class="pricing__title">Enterprise</h3>
                    <p class="pricing__sentence">For large companies</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>79<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list tl">
                        <li class="pricing__feature"><span class="icon icon--chart-bars"></span>Unlimited presentations</li>
                        <li class="pricing__feature"><span class="icon icon--bubble"></span>Unlimited support</li>
                        <li class="pricing__feature"><span class="icon icon--rocket"></span>Unlimited campaigns</li>
                    </ul>
			<div class="pricing__action">
		<div class="signup-form-half hero__buttons btn-group">
			<a href="contact_form" class="fw400 ladda-button btn--lg" data-event="getintouch-clicked" data-ga-click="Getintouch click pricing-enterprisecolumn" data-mix-click="click {&quot;target&quot;: &quot;Pricing_Enterprise_Button&quot;, &quot;page&quot;: &quot;pricing&quot;}">GET IN TOUCH</a>
                </div> </div>
		    </div>
        
<div class="container">
<div class="col-md-11 col-md-offset-1">
	<div class="pricing__action">
<small class="block-center pricing-plan__note">Merchant bank account is required. Other fees apply including merchant bank account fees (all gateways), and payment gateway fees (excluding Piropay’s gateway).<br/> Fees may apply to import existing cards/customers.</small>
	</div></div>
	</div>
		        </div>
        </section>
      

        </div>

	
        
    </div>
			
			
			   </section> 

