<!-- Pricing Grid Section --> 
		
<section class="iso-features" id="pricing"> 
<div class="pricing">
	<div class="segment segment--plans"> 
		<div class="container"> 
    
<div class="heading tc"> 
		<h2>Plans And&nbsp;Pricing</h2>
			
		<p class="lead tc"> When you sell with PiroPay there are only straight forward transaction fees and no hidden surprises.</p> 
			<hr class="star-primary">
    </div> 
			
			
			  <section class="pricing-section bg-6">
            <h2 class="pricing-section__title">Pema</h2>
            <div class="pricing pricing--pema">
                <div class="pricing__item">
                    <h3 class="pricing__title">Basic</h3>
                    <p class="pricing__sentence">For freelancers</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>19<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature"><span class="icon icon--chart-bars"></span>10 presentations/month</li>
                        <li class="pricing__feature"><span class="icon icon--bubble"></span>Support at $25/hour</li>
                        <li class="pricing__feature"><span class="icon icon--rocket"></span>1 campaign/month</li>
                    </ul>
                    <button class="pricing__action">Choose plan</button>
                </div>
                <div class="pricing__item pricing__item--featured">
                    <h3 class="pricing__title">Standard</h3>
                    <p class="pricing__sentence">For medium sized teams</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>29<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature"><span class="icon icon--chart-bars"></span>50 presentations/month</li>
                        <li class="pricing__feature"><span class="icon icon--bubble"></span>5 hours of free support</li>
                        <li class="pricing__feature"><span class="icon icon--rocket"></span>10 campaigns/month</li>
                    </ul>
                    <button class="pricing__action">Choose plan</button>
                </div>
                <div class="pricing__item">
                    <h3 class="pricing__title">Enterprise</h3>
                    <p class="pricing__sentence">For large companies</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>79<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature"><span class="icon icon--chart-bars"></span>Unlimited presentations</li>
                        <li class="pricing__feature"><span class="icon icon--bubble"></span>Unlimited support</li>
                        <li class="pricing__feature"><span class="icon icon--rocket"></span>Unlimited campaigns</li>
                    </ul>
                    <button class="pricing__action">Choose plan</button>
                </div>
            </div>
        </section>
        <section class="pricing-section bg-9">
            <h2 class="pricing-section__title">Karma</h2>
            <div class="pricing pricing--karma">
                <div class="pricing__item">
                    <h3 class="pricing__title">Basic</h3>
                    <p class="pricing__sentence">For freelancers</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>19<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">1 GB of space</li>
                        <li class="pricing__feature">Support at $25/hour</li>
                        <li class="pricing__feature">Small social media package</li>
                    </ul>
                    <button class="pricing__action">Choose plan</button>
                </div>
                <div class="pricing__item pricing__item--featured">
                    <h3 class="pricing__title">Standard</h3>
                    <p class="pricing__sentence">For medium sized teams</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>29<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">5 GB of space</li>
                        <li class="pricing__feature">Free support</li>
                        <li class="pricing__feature">Full social media package</li>
                    </ul>
                    <button class="pricing__action">Choose plan</button>
                </div>
                <div class="pricing__item">
                    <h3 class="pricing__title">Enterprise</h3>
                    <p class="pricing__sentence">For large companies</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>79<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Unlimited space</li>
                        <li class="pricing__feature">Free support</li>
                        <li class="pricing__feature">Full social media package</li>
                    </ul>
                    <button class="pricing__action">Choose plan</button>
                </div>
            </div>
            <p>Inspired by <strong><a href="https://frankbody.com/">Frank Body</a></strong></p>
            <p><strong><a href="http://www.freepik.com/free-photos-vectors/vintage">Vintage vector</a></strong> designed by Vilmosv - Freepik.com</p>
        </section>
        <section class="pricing-section bg-7">
            <h2 class="pricing-section__title">Norbu</h2>
            <div class="pricing pricing--norbu">
                <div class="pricing__item">
                    <h3 class="pricing__title">Beginner Savers</h3>
                    <p class="pricing__sentence">For people who are starting out in the water saving business</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>19<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Free water saving e-book</li>
                        <li class="pricing__feature">Free access to forums</li>
                        <li class="pricing__feature">Beginners tips</li>
                    </ul>
                    <button class="pricing__action">Choose plan</button>
                </div>
                <div class="pricing__item pricing__item--featured">
                    <h3 class="pricing__title">Advanced Savers</h3>
                    <p class="pricing__sentence">For experienced water savers who'd like to push their limits</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>29<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Free water saving e-book</li>
                        <li class="pricing__feature">Free access to forums</li>
                        <li class="pricing__feature">Advanced saving tips</li>
                    </ul>
                    <button class="pricing__action">Choose plan</button>
                </div>
                <div class="pricing__item">
                    <h3 class="pricing__title">Pro Savers</h3>
                    <p class="pricing__sentence">For all the professionals who'd like to educate others, too</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>79<span class="pricing__period">/ month</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Access to all books</li>
                        <li class="pricing__feature">Unlimited board topics</li>
                        <li class="pricing__feature">Beginners tips</li>
                    </ul>
                    <button class="pricing__action">Choose plan</button>
                </div>
            </div>
        </section>

			<div class="segment segment--plans hidden" style="display: none;">

    <div class="container">

        <div class="pricing-plan pricing-plan--smallbusiness">

            <div class="pricing-plan__tabs">
                <div class="pricing-plan__tab pricing-plan__tab--smallbusiness">
                    Small Business
                </div>
                <div class="pricing-plan__tab pricing-plan__tab--enterprise">
                    Enterprise
                </div>
            </div>

            <div class="pricing-plan__cell pricing-plan__cell--smallbusiness">
                <div class="pricing-plan__wrap">
                    <div class="pricing-plan__title">
                        <span class="pricing-plan__name">Small Business</span> <a href="https://info.recurly.com/signup
" class="pricing-plan__btn btn btn--lg" data-event="signup-clicked" data-ga-click="Signup click pricing-smbcolumn" data-mix-click='click {"target": "Pricing_SMB_Button", "page": "pricing"}'>TRY IT FREE</a>
                    </div>
                    
                    <div class="pricing-plan__details">
                        <p class="pricing-plan__detail">Start today with one of our pay as you go plans and find the feature set you need for your growing business.</p>
                    
                        <div class="pricing-plan__price">
                            <p><strong>1.25</strong>% <span class="pricing-plan__desc">of revenue</span></p>
                        </div>
                        <span class="pricing-plan__plus">+</span>
                        <div class="pricing-plan__price">
                            <p>$<strong>0.10</strong> <span class="pricing-plan__desc">per transaction</span></p>
                        </div>
                    </div>

                    <div class="pricing-plan__features">
                        <div class="feature-list">
                            <h3>Core Plan</h3>
                        </div>
                        <div class="feature-list">
                            <h3>Professional Plan</h3>
                        </div>

                        <div class="feature-list">
                            <p>Ideal for small businesses who need simple online payments.</p>
                        </div>
                        
                        <div class="feature-list">
                            <p>Growing businesses who need online and offline payments and international currencies.</p>
                        </div>

                        <dl class="feature-list">
                            <dt>Monthly Fee</dt>
                            <dd>$99.00 USD</dd>
                            <hr>
                        </dl>

                        <dl class="feature-list">
                            <dt>Monthly Fee</dt>
                            <dd>$299.00 USD</dd>
                            <hr>
                        </dl>

                        <dl class="feature-list">
                            <dt>Credit Card Payments</dt>
                            <dt>PayPal Payments</dt>
                            <dt>Pay with Amazon</dt>
                            <dd>1.25% of revenue + 10¢ per transaction</dd>
                        </dl>

                        <dl class="feature-list">
                            <dt>Credit Card Payments</dt>
                            <dt>PayPal Payments</dt>
                            <dt>Pay with Amazon</dt>
                            <dd>1.25% of revenue + 10¢ per transaction</dd>
                        </dl>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>ACH Payments</dt>
                            <dd>Gateway fees apply; does not incur 1.25% of revenue fee.</dd>
                        </dl>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>Invoice Billing</dt>
                            <dd>$1.00 per invoice; does not incur 1.25% of revenue fee.</dd>
                        </dl>

                        <ul class="feature-list">
                            <li><strong>PCI Compliance</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>PCI Compliance</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Advanced Security</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Advanced Security</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Churn Management and Revenue Recovery</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Churn Management and Revenue Recovery</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Tax Calculations</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Tax Calculations</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Import Existing Cards/ Customers</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Import Existing Cards/ Customers</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple API Keys</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple API Keys</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple Webhook Endpoints</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple Webhook Endpoints</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Basic Analytics</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Advanced Analytics</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Online Support</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Online Support</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Standard SLA</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Standard SLA</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>Revenue Recognition</dt>
                            <dd>Additional fees apply.</dd>
                        </dl>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>QuickBooks Online Integration</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>Advanced Salesforce Integration</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>Multiple Currencies</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>Gift Cards</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>Fraud Management</dt>
                            <dd>Additional fees apply.</dd>
                        </dl>

                    </div>
                </div>
            </div>


            <div class="pricing-plan__cell pricing-plan__cell--enterprise">
                <div class="pricing-plan__wrap">
                    <div class="pricing-plan__title">
                        <span class="pricing-plan__name">Enterprise</span> <a href="/contact-form" class="pricing-plan__btn btn btn--lg" data-event="getintouch-clicked" data-ga-click="Getintouch click pricing-enterprisecolumn" data-mix-click='click {"target": "Pricing_Enterprise_Button", "page": "pricing"}'>GET IN TOUCH</a>
                    </div>
                    
                    <div class="pricing-plan__details">

                        <p class="pricing-plan__detail">Discounted pricing and advanced features available with a fixed annual contract for companies with large transaction volumes.</p>

                        <div class="pricing-plan__price">
                             <p class="tel">+<strong><a href="tel:+1.844.732.8759">1 844-732-8759</a></strong><span class="pricing-plan__desc">Call us today!</span></p>
                        </div>

                    </div>

                    <div class="pricing-plan__features">

                        <ul class="pricing-plan__list">
                            
                            <li>
                                <div class="pricing-plan__img pricing-plan__img--full-access"></div>
                                <h3>Full Access</h3>
                                <p>Includes access to the entire Recurly subscription management solution set.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--pricing"></div>
                                <h3>Volume Pricing</h3>
                                <p>Work with Recurly to determine a discount level for your transaction processing volume.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--salesforce"></div>
                                <h3>Advanced Salesforce Integration</h3>
                                <p>Bi-directional sync to receive up-to-date subscription, invoice, transaction, and account data.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--netsuite"></div>
                                <h3>NetSuite Integration</h3>
                                <p>Customizable integrations for automated revenue recognition and accounting.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--qbo"></div>
                                <h3>QuickBooks Online Integration</h3>
                                <p>Seamless integration for managing subscription billing data with your QuickBooks Online accounting system.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--analytics"></div>
                                <h3>Advanced Analytics and Plan-Level Comparisons</h3>
                                <p>Powerful analytics using eight key metrics to evaluate plan performance.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--api-integrations"></div>
                                <h3>Unlimited API Integrations</h3>
                                <p>Multiple seamless integrations to back-office systems, anti-fraud, analytics, reporting and more.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--payment-options"></div>
                                <h3>Complete Payment Options</h3>
                                <p>Accept credit cards, Amazon, PayPal, ACH, mobile payments and manual invoicing with full international currency support.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--security"></div>
                                <h3>Enterprise-class Security and Scalability</h3>
                                <p>Highly secure, PCI compliant environment that scales for growth.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--revrec"></div>
                                <h3>Automated Revenue Recognition</h3>
                                <p>Accelerated and efficient month-end close for accurate financial reporting.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--gift-subscriptions"></div>
                                <h3>Gift Subscriptions</h3>
                                <p>Easily implement gift plans and gift cards to support new customer acquisition. Robust features for customer satisfaction.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--fraud-management"></div>
                                <h3>Fraud Management</h3>
                                <p>Protect your business and your profits with our integrated, automated solution and &lsquo;set and forget&rsquo; configurations.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--sla"></div>
                                <h3>Advanced SLA</h3>
                                <p>Industry-standard uptime and availability agreements for business continuity.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--support"></div>
                                <h3>Priority Support</h3>
                                <p>World-class service and support from a team of dedicated subscription professionals.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--pro-services"></div>
                                <h3>Professional Services</h3>
                                <p>Strategic guidance, best practices and tactical know-how from industry experts to accelerate implementation and time to value.</p>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>

        </div>

        <small class="block-center pricing-plan__note">Merchant bank account is required. Other fees apply including merchant bank account fees (all gateways), and payment gateway fees (excluding Recurly’s payment gateway). Fees may apply to import existing cards/customers.</small>

    </div>

</div>


			
			
			
	<div class="hidden pricing-plan pricing-plan--smallbusiness">

            <div class="pricing-plan__tabs">
                <div class="pricing-plan__tab pricing-plan__tab--smallbusiness">
                    Small Business
                </div>
                <div class="pricing-plan__tab pricing-plan__tab--enterprise">
                    Enterprise
                </div>
            </div>
				
		<div class="pricing-plan__cell pricing-plan__cell--smallbusiness">
                <div class="pricing-plan__wrap">
			
                    <span class="pricing__title pricing-plan__name">Startup</span>
			<a href="#" class="pricing-plan__btn btn btn--lg" data-event="signup-clicked" data-ga-click="Signup click pricing-smbcolumn" data-mix-click="click {&quot;target&quot;: &quot;Pricing_SMB_Button&quot;, &quot;page&quot;: &quot;pricing&quot;}">TRY IT FREE</a>
               		
			<div class="pricing-plan__details">
			<p class="pricing-plan__detail">
			Perfect for small startups, start today with one of our pay as you go plans and find the feature set you need for your growing business.</p>
			</div>
                   <div class="pricing-plan__price"><p><strong>1.25</strong>% <span class="pricing-plan__desc">of revenue</span></p></div>
		<span class="pricing-plan__plus">+</span>
			<div class="pricing-plan__price">
                            <p>$<strong>0.10</strong> <span class="pricing-plan__desc">per transaction</span></p>
                        </div>
				<div class="pricing-plan__features">
                        <div class="feature-list">
                            <h3>Core Plan</h3>
                        </div>
                        <div class="feature-list">
                            <h3>Professional Plan</h3>
                        </div>
                        <div class="feature-list">
                            <p>Ideal for small businesses who need simple online payments.</p>
                        </div>
                        
                        <div class="feature-list">
                            <p>Growing businesses who need online and offline payments and international currencies.</p>
                        </div>

                        <dl class="feature-list">
                            <dt>Monthly Fee</dt>
                            <dd>$99.00 USD</dd>
                            <hr>
                        </dl>

                        <dl class="feature-list">
                            <dt>Monthly Fee</dt>
                            <dd>$299.00 USD</dd>
                            <hr>
                        </dl>

                        <dl class="feature-list">
                            <dt>Credit Card Payments</dt>
                            <dt>PayPal Payments</dt>
                            <dt>Pay with with Bank Deposit</dt>
                            <dd>1.25% of revenue + 10¢ per transaction</dd>
                        </dl>

                        <dl class="feature-list">
                            <dt>Credit Card Payments</dt>
                            <dt>PayPal Payments</dt>
                            <dt>Pay with Bank Deposit</dt>
                            <dd>1.25% of revenue + 10¢ per transaction</dd>
                        </dl>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>ACH Payments</dt>
                            <dd>Gateway fees apply; does not incur 1.25% of revenue fee.</dd>
                        </dl>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>Invoice Billing</dt>
                            <dd>$1.00 per invoice; does not incur 1.25% of revenue fee.</dd>
                        </dl>

                        <ul class="feature-list">
                            <li><strong>PCI Compliance</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>PCI Compliance</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Advanced Security</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Advanced Security</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Import Existing Cards/ Customers</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Import Existing Cards/ Customers</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple API Keys</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple API Keys</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple Webhook Endpoints</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple Webhook Endpoints</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Basic Analytics</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Advanced Analytics</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Online Support</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Online Support</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>Advanced Salesforce Integration</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>Multiple Currencies</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>Gift Cards</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>Fraud Management</dt>
                            <dd>Additional fees apply.</dd>
                        </dl>

                    </div>
			
              <button class="pricing__action" aria-label="Purchase this plan"><a href="https://piropay.auth0.com/login?client=IfAmCpwSa7ahhyenoqUK5Q3Tq0QxJgfM"><span class="icon icon--arrow-right"></span></a></button>
                </div>
		</div>			   
				
		<div class="pricing-plan__cell pricing-plan__cell--enterprise col-sm-6">
					
                <div class="pricing-plan__wrap">
			<div class="pricing-plan__title">
                        <span class="pricing__title pricing-plan__name">Enterprise</span>
				<a href="#" class="pricing-plan__btn btn btn--lg" data-event="getintouch-clicked" data-ga-click="Getintouch click pricing-enterprisecolumn" data-mix-click="click {&quot;target&quot;: &quot;Pricing_Enterprise_Button&quot;, &quot;page&quot;: &quot;pricing&quot;}">GET IN TOUCH</a>
                    </div>
                    
                    <div class="pricing-plan__details">

                        <p class="pricing-plan__detail">For large corporations, PSP's & ISP's. Discounted pricing and advanced features available with a fixed annual contract for companies with large transaction volumes.</p>

                        <div class="pricing-plan__price">
                             <p class="tel">+<strong><a href="tel:+1.866.936.7476">1 866-936-7476</a></strong><span class="pricing-plan__desc">Call us today!</span></p>
                        </div>
                    </div>

                    <div class="pricing-plan__features">

                        <ul class="pricing-plan__list">
                            
                            <li>
                                <div class="pricing-plan__img pricing-plan__img--full-access"></div>
                                <h3>Full Access</h3>
                                <p>Includes access to the entire PiroPay payment management solution set.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--pricing"></div>
                                <h3>Volume Pricing</h3>
                                <p>Work with PiroPay to determine a discount level for your transaction processing volume.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--salesforce"></div>
                                <h3>Advanced Salesforce Integration</h3>
                                <p>Bi-directional sync to receive up-to-date subscription, invoice, transaction, and account data.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--netsuite"></div>
                                <h3>NetSuite Integration</h3>
                                <p>Customizable integrations for automated revenue recognition and accounting.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--qbo"></div>
                                <h3>QuickBooks Online Integration</h3>
                                <p>Seamless integration for managing subscription billing data with your QuickBooks Online accounting system.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--analytics"></div>
                                <h3>Advanced Analytics and Plan-Level Comparisons</h3>
                                <p>Powerful analytics using eight key metrics to evaluate plan performance.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--api-integrations"></div>
                                <h3>Unlimited API Integrations</h3>
                                <p>Multiple seamless integrations to back-office systems, anti-fraud, analytics, reporting and more.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--payment-options"></div>
                                <h3>Complete Payment Options</h3>
                                <p>Accept credit cards, Amazon, PayPal, ACH, mobile payments and manual invoicing with full international currency support.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--security"></div>
                                <h3>Enterprise-class Security and Scalability</h3>
                                <p>Highly secure, PCI compliant environment that scales for growth.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--revrec"></div>
                                <h3>Automated Revenue Recognition</h3>
                                <p>Accelerated and efficient month-end close for accurate financial reporting.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--gift-subscriptions"></div>
                                <h3>Gift Subscriptions</h3>
                                <p>Easily implement gift plans and gift cards to support new customer acquisition. Robust features for customer satisfaction.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--fraud-management"></div>
                                <h3>Fraud Management</h3>
                                <p>Protect your business and your profits with our integrated, automated solution and ‘set and forget’ configurations.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--sla"></div>
                                <h3>Advanced SLA</h3>
                                <p>Industry-standard uptime and availability agreements for business continuity.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--support"></div>
                                <h3>Priority Support</h3>
                                <p>World-class service and support from a team of dedicated subscription professionals.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--pro-services"></div>
                                <h3>Professional Services</h3>
                                <p>Strategic guidance, best practices and tactical know-how from industry experts to accelerate implementation and time to value.</p>
                            </li>

                        </ul>

                    </div>
<button class="pricing__action" aria-label="Purchase this plan"><a href="https://piropay.auth0.com/login?client=IfAmCpwSa7ahhyenoqUK5Q3Tq0QxJgfM"><span class="icon icon--arrow-right"></span></a></button>
                
                </div>
           
		    </div>
		</div>			
       
   		 </div>
			   </section> 
</div>
