<!-- Pricing Grid Section --> 
		
<section class="iso-features" id="pricing"> 
		<div class="container"> 
    
		<div class="heading tc"> 
		<h2>Plans And&nbsp;Pricing</h2>
			
		<p class="lead tc"> When you sell with PiroPay there are only straight forward transaction fees and no hidden surprises.</p> 
			<hr class="star-primary">
    </div> 
			<section class="pricing"> 
			<div class="iso-container pricing pricing--tashi tc">
		
		<div class="pricing-plan__cell pricing-plan__cell--smallbusiness col-sm-6">
                <div class="pricing-plan__wrap">
			
                    <span class="pricing__title pricing-plan__name">Startup</span>
			<a href="#" class="pricing-plan__btn btn btn--lg" data-event="signup-clicked" data-ga-click="Signup click pricing-smbcolumn" data-mix-click="click {&quot;target&quot;: &quot;Pricing_SMB_Button&quot;, &quot;page&quot;: &quot;pricing&quot;}">TRY IT FREE</a>
               		
			<div class="pricing-plan__details">
			<p class="pricing-plan__detail">
			Perfect for small startups, start today with one of our pay as you go plans and find the feature set you need for your growing business.</p>
			</div>
                   <div class="pricing-plan__price"><p><strong>1.25</strong>% <span class="pricing-plan__desc">of revenue</span></p></div>
		<span class="pricing-plan__plus">+</span>
			<div class="pricing-plan__price">
                            <p>$<strong>0.10</strong> <span class="pricing-plan__desc">per transaction</span></p>
                        </div>
				<div class="pricing-plan__features">
                        <div class="feature-list">
                            <h3>Core Plan</h3>
                        </div>
                        <div class="feature-list">
                            <h3>Professional Plan</h3>
                        </div>
                        <div class="feature-list">
                            <p>Ideal for small businesses who need simple online payments.</p>
                        </div>
                        
                        <div class="feature-list">
                            <p>Growing businesses who need online and offline payments and international currencies.</p>
                        </div>

                        <dl class="feature-list">
                            <dt>Monthly Fee</dt>
                            <dd>$99.00 USD</dd>
                            <hr>
                        </dl>

                        <dl class="feature-list">
                            <dt>Monthly Fee</dt>
                            <dd>$299.00 USD</dd>
                            <hr>
                        </dl>

                        <dl class="feature-list">
                            <dt>Credit Card Payments</dt>
                            <dt>PayPal Payments</dt>
                            <dt>Pay with with Bank Deposit</dt>
                            <dd>1.25% of revenue + 10¢ per transaction</dd>
                        </dl>

                        <dl class="feature-list">
                            <dt>Credit Card Payments</dt>
                            <dt>PayPal Payments</dt>
                            <dt>Pay with Bank Deposit</dt>
                            <dd>1.25% of revenue + 10¢ per transaction</dd>
                        </dl>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>ACH Payments</dt>
                            <dd>Gateway fees apply; does not incur 1.25% of revenue fee.</dd>
                        </dl>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>Invoice Billing</dt>
                            <dd>$1.00 per invoice; does not incur 1.25% of revenue fee.</dd>
                        </dl>

                        <ul class="feature-list">
                            <li><strong>PCI Compliance</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>PCI Compliance</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Advanced Security</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Advanced Security</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Import Existing Cards/ Customers</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Import Existing Cards/ Customers</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple API Keys</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple API Keys</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple Webhook Endpoints</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Multiple Webhook Endpoints</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Basic Analytics</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Advanced Analytics</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Online Support</strong></li>
                        </ul>

                        <ul class="feature-list">
                            <li><strong>Online Support</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>Advanced Salesforce Integration</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>Multiple Currencies</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <ul class="feature-list">
                            <li><strong>Gift Cards</strong></li>
                        </ul>

                        <div class="feature-list">&nbsp;</div>

                        <dl class="feature-list">
                            <dt>Fraud Management</dt>
                            <dd>Additional fees apply.</dd>
                        </dl>

                    </div>
			
              <button class="pricing__action" aria-label="Purchase this plan"><a href="https://piropay.auth0.com/login?client=IfAmCpwSa7ahhyenoqUK5Q3Tq0QxJgfM"><span class="icon icon--arrow-right"></span></a></button>
                </div>
		</div>			   
				
		<div class="pricing-plan__cell pricing-plan__cell--enterprise col-sm-6">
					
                <div class="pricing-plan__wrap">
			<div class="pricing-plan__title">
                        <span class="pricing__title pricing-plan__name pull-left">Enterprise</span>
				<a href="#" class="pricing-plan__btn btn btn--lg pull-right" data-event="getintouch-clicked" data-ga-click="Getintouch click pricing-enterprisecolumn" data-mix-click="click {&quot;target&quot;: &quot;Pricing_Enterprise_Button&quot;, &quot;page&quot;: &quot;pricing&quot;}">GET IN TOUCH</a>
                    </div>
                    
                    <div class="pricing-plan__details">

                        <p class="pricing-plan__detail">For large corporations, PSP's & ISP's. Discounted pricing and advanced features available with a fixed annual contract for companies with large transaction volumes.</p>

                        <div class="pricing-plan__price">
                             <p class="tel">+<strong><a href="tel:+1.866.936.7476">1 866-936-7476</a></strong><span class="pricing-plan__desc">Call us today!</span></p>
                        </div>
                    </div>

                    <div class="pricing-plan__features">

                        <ul class="pricing-plan__list">
                            
                            <li>
                                <div class="pricing-plan__img pricing-plan__img--full-access"></div>
                                <h3>Full Access</h3>
                                <p>Includes access to the entire PiroPay payment management solution set.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--pricing"></div>
                                <h3>Volume Pricing</h3>
                                <p>Work with PiroPay to determine a discount level for your transaction processing volume.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--salesforce"></div>
                                <h3>Advanced Salesforce Integration</h3>
                                <p>Bi-directional sync to receive up-to-date subscription, invoice, transaction, and account data.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--netsuite"></div>
                                <h3>NetSuite Integration</h3>
                                <p>Customizable integrations for automated revenue recognition and accounting.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--qbo"></div>
                                <h3>QuickBooks Online Integration</h3>
                                <p>Seamless integration for managing subscription billing data with your QuickBooks Online accounting system.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--analytics"></div>
                                <h3>Advanced Analytics and Plan-Level Comparisons</h3>
                                <p>Powerful analytics using eight key metrics to evaluate plan performance.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--api-integrations"></div>
                                <h3>Unlimited API Integrations</h3>
                                <p>Multiple seamless integrations to back-office systems, anti-fraud, analytics, reporting and more.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--payment-options"></div>
                                <h3>Complete Payment Options</h3>
                                <p>Accept credit cards, Amazon, PayPal, ACH, mobile payments and manual invoicing with full international currency support.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--security"></div>
                                <h3>Enterprise-class Security and Scalability</h3>
                                <p>Highly secure, PCI compliant environment that scales for growth.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--revrec"></div>
                                <h3>Automated Revenue Recognition</h3>
                                <p>Accelerated and efficient month-end close for accurate financial reporting.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--gift-subscriptions"></div>
                                <h3>Gift Subscriptions</h3>
                                <p>Easily implement gift plans and gift cards to support new customer acquisition. Robust features for customer satisfaction.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--fraud-management"></div>
                                <h3>Fraud Management</h3>
                                <p>Protect your business and your profits with our integrated, automated solution and ‘set and forget’ configurations.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--sla"></div>
                                <h3>Advanced SLA</h3>
                                <p>Industry-standard uptime and availability agreements for business continuity.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--support"></div>
                                <h3>Priority Support</h3>
                                <p>World-class service and support from a team of dedicated subscription professionals.</p>
                            </li>

                            <li>
                                <div class="pricing-plan__img pricing-plan__img--pro-services"></div>
                                <h3>Professional Services</h3>
                                <p>Strategic guidance, best practices and tactical know-how from industry experts to accelerate implementation and time to value.</p>
                            </li>

                        </ul>

                    </div>
<button class="pricing__action" aria-label="Purchase this plan"><a href="https://piropay.auth0.com/login?client=IfAmCpwSa7ahhyenoqUK5Q3Tq0QxJgfM"><span class="icon icon--arrow-right"></span></a></button>
                
                </div>
           
		    </div>
		</div>			
       
   
     </section> 
		 </div>
			   </section> 
