<!-- Why Section -->
<section class="locked-original-text locked-menu unlocked" id="why">
	<div class="locked-cta"> 
	<h1><strong>You don't need</strong> another payments provider</h1> 
	<h2>Piropay has everything your business needs to accept all types of payments </h2> 
	<div class="signup-form-half "> 
	<form class="piropay_signup_form tc fw300 " action="https://auth.piropay.com/verify_email?origin=hp_home_page_desktop_banner" data-origin="hp_home_page_desktop_banner" method="post" novalidate> 
	<input class="email" type="email" placeholder="Enter your work email" name="email" value="">
	<button class="fw400 ladda-button" data-style="zoom-in" type="submit"><span class="ladda-label">Create Account</span></button> 
	</form> 
	
	<div class="trial tc"> 
		<div class="line"></div> 
		<p>Start your free trial</p> 
		<div class="line"></div>
		</div> 
		</div> 
		
		<img class="board_example" alt="Process All payment types" src="https://res.cloudinary.com/piropay/image/upload/v1484769290/swipe-transaction-list_fc48iu.png"/> 
</div> 
		<div class="see-more-wrapper"> <a href="javascript:void(0);" class="see-more">Tell me more</a> 
		<img src="https://res.cloudinary.com/piropay/image/upload/v1484220013/arrow_ahr1je.svg" class="see-more-arrow" width="50"/> 
		</div> 
		</section> 
		
		<section class="locked-horizontal"> 
		<div class="locked-cta"> 
		<div class="container-fluid"> 
		<div class="row"> 
		<div class="col-xs-12 col-sm-12 col-md-6 left">
		<div class="text"> 
		<div class="text-inner"> 
		<h1><strong>You don't need</strong></h1> 
		<h1>another payments&nbsp;processor</h1> 
		<p>Meet Piropay, the simple app that accepts all types of payments</p> 
		<div class="signup-form-half "> 
		<form class="piropay_signup_form tc fw300 " action="https://auth.piropay.com/verify_email?origin=hp_home_page_desktop_banner" data-origin="hp_home_page_desktop_banner" method="post" novalidate> 
		<input class="email" type="email" placeholder="Enter your work email" name="email" value="">
		<button class="fw400 ladda-button" data-style="zoom-in" type="submit">
		<span class="ladda-label">Create Account</span></button> 
		</form> 
		
		<div class="trial tc"> 
		<div class="line"></div> 
		<p>Start your free trial</p> 
		<div class="line"></div> 
		</div>
		</div> 
		
		<div class="mobile-image desktop-hidden tc"> 
		<img class="board_example" alt="Coolimage2-m" src="assets/img/home/coolimage2-m.png"/> 
		</div> 
		</div> 
		</div> 
		</div> 
		<div class="col-xs-12 col-sm-12 col-md-6 mobile-hidden right"> 
		<img class="board_example" alt="Coolimage2" src="assets/img/home/coolimage2.png"/> 
		</div> </div> 
		</div>
		</div> 
		<div class="see-more-wrapper">
		<a href="javascript:void(0);" class="see-more">Tell me more</a> 
		</div>
		</section> 
		
