<!-- Why Section -->

<section class="iso-high-board" id="why"> 
	<div class="container">
	<div class="row">
		
		<div class="heading tc"> 
		<h2>WHY CHOOSE&nbsp;PIROPAY</h2>
			
		<p class="lead tc"> Piropay gets you up and running fast with room to grow, no matter what your business model is -- our products and features are flexible to fit your needs and help you conduct business wherever you are.</p> 
			<hr class="star-primary">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			</div>
	
		<div class="col-xs-12 desktop-hidden full">
		<div class="text"> 
		<h2>All of your payment services under one account.</h2> 
			
<p>You get straight forward transaction fees with no hidden surprises, which also comes with our full customer support and the feeling of recognition.</p>
			<p>Piropay is here to make it better, by getting you set up in minutes and helping you convert your customers into frequent buyers. Our mission is to simply help you get paid quicker, with no hassles and also with more payment options available than the majority of the world's top payment&nbsp;processors combined.</p> 
			</div> 
			<p>&nbsp;</p>
			
		<div class="signup-form-half"> 
			<div class="hero__buttons btn-group">
<button class="fw400 ladda-button btn--lg" data-style="zoom-in" ><a href="https://piropay.auth0.com/login?client=IfAmCpwSa7ahhyenoqUK5Q3Tq0QxJgfM"><span class="ladda-label">CREATE ACCOUNT</span></a></button>
				
<button class="fw400 ladda-button btn--lg" data-style="zoom-in" ><a class="b24-web-form-popup-btn-18"><span class="ladda-label">REQUEST A QUOTE</span></a></button> 
				</div>
		</div> 
			
		</div>  
			</div> 
				
			<p>&nbsp;&nbsp;</p>
			</div> 
	
	
<div class="container">
<div class="row-fluid">
		
		<div class="col-xs-12 col-md-6 desktop-section-height right"> 
		<img id="all-payment-types" src="https://res.cloudinary.com/piropay/image/upload/v1484759672/features-subscription_epks6v.png" class="wow fadeInLeftSmall" data-wow-duration="0.8s" width="65%"/> 
		</div> 
		
	<div class="col-md-6 desktop-section-height left mobile-hidden"> 
	<div class="text">  
			
		<p>You get straight forward transaction fees with no hidden surprises, which also comes with our full customer support and the feeling of recognition.</p>
		<p>Piropay is here to make it better, by getting you set up in minutes and helping you convert your customers into frequent buyers. Our mission is to simply help you get paid quicker, with no hassles and also with more payment options available than the majority of the world's top payment&nbsp;processors combined.</p> 
		<p>&nbsp;</p>	
		
		
		<div class="signup-form-half"> 
			<div class="hero__buttons btn-group">
<button class="fw400 ladda-button btn--lg" data-style="zoom-in" ><a href="https://piropay.auth0.com/login?client=IfAmCpwSa7ahhyenoqUK5Q3Tq0QxJgfM"><span class="ladda-label">CREATE ACCOUNT</span></a></button>
				
<button class="fw400 ladda-button btn--lg" data-style="zoom-in" ><a class="b24-web-form-popup-btn-18"><span class="ladda-label">REQUEST A QUOTE</span></a></button> 
				</div>
		</div>  
			
	</div>
	</div>
		
</div>
</div>
		
		</section>		

